<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Tabela do Brasileirão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
  </head>
  <body>
    <header>
    <h1>BRASILEIRÃO SÉRIE A</h1>
    </header>

    <div class="container">
      <div class="tabela-container">
        <h2>Tabela</h2>
        <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse;">
          <thead>
            <tr>
              <th>Posição</th>
              <th>Time</th>
              <th>Pontos</th>
              <th>Jogos</th>
              <th>Vitórias</th>
              <th>Empates</th>
              <th>Derrotas</th>
              <th>GP</th>
              <th>GC</th>
              <th>SG</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            {% for i, row in tabela.iterrows() %}
            <tr>
              <td class="{{ row['Classe_Posição'] }}">{{ i + 1 }}</td>
              <td class="time-info">
                <img src="{{ url_for('static', filename='img/' + sanitize_team_name(row['Time']) + '.png') }}" alt="Escudo do {{ row['Time'] }}" class="escudo-small">
                {{ row['Time'] }}
              </td>
              <td>{{ row['Pontos'] }}</td>
              <td>{{ row['Jogos'] }}</td>
              <td>{{ row['Vitórias'] }}</td>
              <td>{{ row['Empates'] }}</td>
              <td>{{ row['Derrotas'] }}</td>
              <td>{{ row['GP'] }}</td>
              <td>{{ row['GC'] }}</td>
              <td>{{ row['SG'] }}</td>
              <td>{{ row['%'] | round(2) }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="proximos-jogos-container">
        <h2>Simulador</h2>
        <ul>
          {% for jogo in proximos_jogos %}
          <li class="jogo-item">
            <div class="jogo-info">
              <!-- Data e Local acima dos times -->
              <div class="jogo-data">
                <strong>{{ jogo.data }}</strong> <br>
                {{ jogo.local }}
              </div>

              <!-- Div dos times e palpites -->
              <div class="jogo-times">
                <div class="time">
                  <img src="{{ url_for('static', filename='img/' + sanitize_team_name(jogo.time1) + '.png') }}" alt="Escudo {{ jogo.time1 }}" class="escudo-proxjogo">
                  <span>{{ jogo.time1 }}</span>
                </div>
                
                <!-- Campo de palpites para o primeiro time -->
                <div class="palpite">
                  <input type="number" id="placar_{{ loop.index }}_time1" name="placar_{{ loop.index }}_time1" Gols min="0">
                </div>
                
                <div class="versus">X</div>
                
                <!-- Campo de palpites para o segundo time -->
                <div class="palpite">
                  <input type="number" id="placar_{{ loop.index }}_time2" name="placar_{{ loop.index }}_time2" Gols min="0">
                </div>
                
                <div class="time">
                  <img src="{{ url_for('static', filename='img/' + sanitize_team_name(jogo.time2) + '.png') }}" alt="Escudo {{ jogo.time2 }}" class="escudo-proxjogo">
                  <span>{{ jogo.time2 }}</span>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="forms-container">
        <div class="form-section">
          <h2>Escolha o Resultado</h2>
          <form method="post">
            Time: 
            <select name="time" required>
              <option value="" disabled selected>Escolha um time</option>
              {% for time in times %} 
                <option value="{{ time }}">{{ time }}</option>
              {% endfor %}
            </select><br>
            Jogos: <input type="number" name="jogos" required min="0"><br>
            Vitórias: <input type="number" name="vitorias" required min="0"><br>
            Empates: <input type="number" name="empates" required min="0"><br>
            Derrotas: <input type="number" name="derrotas" required min="0"><br>
            Gols Marcados: <input type="number" name="gols_marcados" required min="0"><br>
            Gols Sofridos: <input type="number" name="gols_sofridos" required min="0"><br>
            <input type="submit" value="Atualizar Tabela">
          </form>
        </div>

        <div class="form-section">
          <h2>Reiniciar Tabela</h2>
          <form method="post">
            <input type="hidden" name="reiniciar" value="true">
            <input type="submit" value="Reiniciar Tabela">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>